body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

/* SVG styles */
#map-svg {
  width: auto;
  height: 80vh;  /* take 80 % of viewport for height (for dynamic SVG scaling based on screen size) */
}

.map-district-area:hover {
  fill: #ec008c;
  opacity: 1;
}

.map-tooltip {
  position: absolute;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:#d3d3d3 solid 1px;
  background: #fff;
  color: black;
  font-family: Comfortaa, Verdana;
  font-size: smaller;
  padding: 8px;
  pointer-events: none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.map-laender-text {
  font-style: normal;
  font-weight: normal;
  font-size: 213.333px;
  line-height: 1.25;
  font-family: sans-serif;
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 10;
  pointer-events:none;
}

.map-laender-text, tspan {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-stretch: normal;
  font-size: 213.333px;
  font-family: sans-serif;
  -inkscape-font-specification: "sans-serif Bold";
  fill:#666666;
  stroke-width: 10
}